<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>vendorSimulator9000</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css" />
</head>

<body>
<div class="ui compact message">
    <h1 class="ui header">vs9000</h1>
    <button id="buySnickersButton" class="ui pink basic button">Buy Snickers</button>
    <button id="resetCountButton" class="ui red basic button">Reset Count</button>
    <button id="getCountButton" class="ui black basic button">Get Count</button>
</div>

<script type="text/javascript" src="index.js"></script>
</body>
</html>