<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>vendorSimulator9000</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css" />
</head>

<body>
<div class="ui compact message">
    <h1 class="ui header">vs9000</h1>
    <button id="buySnickersButton" class="ui pink basic button">Buy Snickers</button>
    <button id="buyTwixButton" class="ui pink basic button">Buy Twix</button>
    <button id="buySpriteButton" class="ui pink basic button">Buy Sprite</button>
    <button id="buyCocaColaButton" class="ui pink basic button">Buy Coca Cola</button>
</div>

<script type="text/javascript" src="index.js"></script>
</body>
</html>